<aside class="text-center py-16 max-w-3xl mx-auto">
    <div class="w-full border-t-2 mb-8 border-black squiggle"></div>
    <h3 class="font-display text-4xl uppercase font-bold leading-none">
        Thanks a million for reading my blog!
    </h3>
    <p class="text-lg mt-8">
        I hope you enjoy this blog. If you have something to advice me. Feel
        free to contact me at
        <a
            style="color: #00f"
            onMouseOver="this.style.color='#0F0'"
            onMouseOut="this.style.color='#00F'"
            href="mailto:kaungsathein.5899@gmail.com"
            >kaungsathein.5899@gmail.com</a
        >
    </p>

    <div class="w-full border-b-2 pt-12 border-black squiggle"></div>
</aside>
